.generator {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 0 5.6rem;
}

.generator__instructions {
  font-size: 1.6rem;
}

.generator__codes {
  font-size: 3.2rem;
}
